@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
    --font-satisfy  :'Satisfy', 'cursive';
    --font-amatic  :'Amatic SC', 'sans-serif';
    --font-playfair-display  :'Playfair Display', 'serif';
    --font-oswald  :'Oswald', 'sans-serif';
    --color-myblack: #202221;
    --color-mygold: #B68B4B;
    --color-mybeishe: #f8f8f7;
    --color-mybeishe2: #8f8f8f;
    
    

  }

